body{
    font-family: 'PT Serif', serif;
}

.bg-yellow{
  background-color: rgb(255, 217, 0);
}
.border-bottom-dark{border-bottom: 1px solid #222;}
.butonlar>li{

   margin-bottom: 10px;
}